{%- if section.settings.text != blank -%}
  {%- if section.settings.link != blank -%}
    <a href="{{ section.settings.link }}" class="announcement-bar">
      {{ section.settings.text }}
    </a>
  {%- else -%}
    <div class="announcement-bar">
      {{ section.settings.text }}
    </div>
  {%- endif -%}
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "default": "Welcome to our store",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    }
  ],
  "presets": [
    {
      "name": "Announcement bar"
    }
  ]
}
{% endschema %}
